<div>
    <div>
        <card symbol="ace" color="clubs"></card>
        <card symbol="ace" color="diamonds"></card>
        <card symbol="ace" color="hearts"></card>
        <card symbol="ace" color="spades"></card>
    </div>
    <div>
        <card symbol="king" color="clubs"></card>
        <card symbol="king" color="diamonds"></card>
        <card symbol="king" color="hearts"></card>
        <card symbol="king" color="spades"></card>
    </div>
    <div>
        <card symbol="queen" color="clubs"></card>
        <card symbol="queen" color="diamonds"></card>
        <card symbol="queen" color="hearts"></card>
        <card symbol="queen" color="spades"></card>
    </div>
    <div>
        <card symbol="jack" color="clubs"></card>
        <card symbol="jack" color="diamonds"></card>
        <card symbol="jack" color="hearts"></card>
        <card symbol="jack" color="spades"></card>
    </div>
    <div>
        <card symbol="ten" color="clubs"></card>
        <card symbol="ten" color="diamonds"></card>
        <card symbol="ten" color="hearts"></card>
        <card symbol="ten" color="spades"></card>
    </div>
    <div>
        <card symbol="nine" color="clubs"></card>
        <card symbol="nine" color="diamonds"></card>
        <card symbol="nine" color="hearts"></card>
        <card symbol="nine" color="spades"></card>
    </div>
    <div>
        <card symbol="eight" color="clubs"></card>
        <card symbol="eight" color="diamonds"></card>
        <card symbol="eight" color="hearts"></card>
        <card symbol="eight" color="spades"></card>
    </div>
    <div>
        <card symbol="seven" color="clubs"></card>
        <card symbol="seven" color="diamonds"></card>
        <card symbol="seven" color="hearts"></card>
        <card symbol="seven" color="spades"></card>
    </div>
</div>